$padding: 55px;

.header {
  width: 83.125%;
  padding-left: 8.4375%;
  padding-right: 8.4375%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(90deg, #21b2c5, #1795ac);
}

.header__inner {
  width: 85%;
}

.header__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-weight: 400;
}

@media screen and (max-width: 320px) {
  .header__inner {
    padding-top: $padding;
    padding-bottom: $padding;
  }

  .header__title {
    font-size: 1.43rem;
  }

  .header__link {
    font-size: 0.8rem;
  }

  .header__arrow {
    font-size: 1rem;
  }
}

@media screen and (min-width: 320px + 1) and (max-width: 640px) {
  .header__inner {
    padding-top: $padding * 2;
    padding-bottom: $padding * 2;
  }

  .header__title {
    font-size: 2.5rem;
  }

  .header__link {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 640px + 1) and (max-width: 980px) {
  .header__inner {
    padding-top: $padding * 3;
    padding-bottom: $padding * 3;
  }

  .header__title {
    font-size: 3.34rem;
  }

  .header__link {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 980px + 1) {
  .header__inner {
    padding-top: $padding * 4;
    padding-bottom: $padding * 4;
  }

  .header__title {
    font-size: 3.14rem;
  }

  .header__link {
    font-size: 1.8rem;
  }
}